<!-- Tufts VUE 3.3.0 concept-map (schemat_agenta.vue) 2020-02-06 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/B:/VUE/VUE/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Thu Feb 06 00:04:38 CET 2020 by Kasia on platform Windows 7 6.1 in JVM 1.7.0_21-b11 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="schemat_agenta.vue" created="1572774972518" x="0.0" y="0.0"
    width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1580943878889" size="21943"
        spec="B:\Praca_mgr\Tekst pracy\img\schemat_agenta.vue" type="1" xsi:type="URLResource">
        <title>schemat_agenta.vue</title>
        <property key="File" value="B:\Praca_mgr\Tekst pracy\img\schemat_agenta.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/30b24cdcc0a8e30101c7086c443fcac1</URIString>
    <child ID="6" label="Data_module" layerID="1"
        created="1572774990175" x="517.0" y="69.0" width="135.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30b24cdcc0a8e30101c7086c85921249</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="Process_module" layerID="1"
        created="1572775042631" x="31.0" y="201.0" width="143.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7be6c0a8e30101c7086c7788f9b9</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="9" label="Sender_module" layerID="1"
        created="1572775050085" x="511.0" y="556.0" width="150.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7be7c0a8e30101c7086cf027c22e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="Database_module" layerID="1"
        created="1572775062831" x="269.0" y="335.0" width="146.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7be8c0a8e30101c7086c94f775fa</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="12" label="Analyzer_module" layerID="1"
        created="1572775087045" x="513.0" y="198.0" width="138.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7be9c0a8e30101c7086c2cc0bfa5</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="13" label=" Dane z licznik&#xf3;w &#xa;wydajno&#x15b;ci "
        layerID="1" created="1572775100584" x="521.75" y="118.5"
        width="123.0" height="80.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7bf1c0a8e30101c7086c55240047</URIString>
        <point1 x="584.0155" y="119.0"/>
        <point2 x="582.4845" y="198.0"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
    <child ID="14" label="Informacje&#xa; o procesach" layerID="1"
        created="1572775170267" x="146.68283" y="250.5"
        width="151.13432" height="85.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7bfbc0a8e30101c7086cddfb101a</URIString>
        <point1 x="147.18285" y="251.0"/>
        <point2 x="297.31717" y="335.0"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="15" label="Przetworzone dane" layerID="1"
        created="1572775171630" x="385.29565" y="247.5"
        width="153.40872" height="88.0" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7bfbc0a8e30101c7086c2747f9cb</URIString>
        <point1 x="538.20435" y="248.0"/>
        <point2 x="385.79562" y="335.0"/>
        <ID1 xsi:type="node">12</ID1>
        <ID2 xsi:type="node">10</ID2>
    </child>
    <child ID="17" label="SQLite local&#xa;database" layerID="1"
        created="1572775342875" x="282.0" y="558.0" width="119.0"
        height="57.299995" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#33A8F5</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7bfbc0a8e30101c7086c33e6f42f</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="18" layerID="1" created="1572775399268" x="341.06317"
        y="384.5" width="1.3816528" height="174.01562" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7bfbc0a8e30101c7086cd7005dd0</URIString>
        <point1 x="341.94482" y="385.0"/>
        <point2 x="341.56317" y="558.0156"/>
        <ID1 xsi:type="node">10</ID1>
        <ID2 xsi:type="node">17</ID2>
    </child>
    <child ID="19" layerID="1" created="1572775426548" x="400.2135"
        y="582.2331" width="111.2865" height="3.548584"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7bfbc0a8e30101c7086c3fa54ff0</URIString>
        <point1 x="400.7135" y="585.2817"/>
        <point2 x="511.0" y="582.7331"/>
        <ID1 xsi:type="node">17</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="20" layerID="1" created="1572775477496" x="-93.5"
        y="15.5" width="781.0" height="632.0" strokeWidth="1.0"
        autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7bfbc0a8e30101c7086c0e689ff5</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="21" label="Zabbix agent" layerID="1"
        created="1572775520581" x="-79.0" y="27.0" width="111.0"
        height="26.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
        <strokeColor>#404040</strokeColor>
        <textColor>#000000</textColor>
        <font>-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30ba7bfbc0a8e30101c7086cefbf510a</URIString>
        <richText>&lt;html&gt;
  &lt;head style="color: #000000" color="#000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-right: 0px; margin-bottom: 0px; font-size: 14; margin-left: 0px; margin-top: 0px; font-family: Arial }
        ol { list-style-position: outside; vertical-align: middle; font-size: 14; margin-left: 30; margin-top: 6; font-family: Arial }
        p { color: #000000; margin-right: 0; margin-bottom: 0; margin-left: 0; margin-top: 0 }
        ul { list-style-position: outside; vertical-align: middle; font-size: 14; margin-left: 30; margin-top: 6; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p style="color: #000000" color="#000000"&gt;
      &lt;font style="font-size:18;"&gt;Zabbix agent&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
        <label>Zabbix agent</label>
    </child>
    <child ID="22" label="MySQL Zabbix&#xa;database" layerID="1"
        created="1572775587305" x="826.5" y="552.35" width="130.8"
        height="58.799995" strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#33A8F5</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30bb07f6c0a8e30101c7086c0b13ddce</URIString>
        <shape xsi:type="ellipse"/>
    </child>
    <child ID="23" label="Data visualization" layerID="1"
        created="1572775589677" x="816.0" y="346.0" width="150.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30bb07f6c0a8e30101c7086c97da6182</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="26" layerID="1" created="1572775679674" x="660.5"
        y="580.68384" width="166.53595" height="1.4058838"
        strokeWidth="1.0" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30bc9f8dc0a8e30101c7086c85b0ab6a</URIString>
        <point1 x="661.0" y="581.18384"/>
        <point2 x="826.53595" y="581.5897"/>
        <ID1 xsi:type="node">9</ID1>
        <ID2 xsi:type="node">22</ID2>
    </child>
    <child ID="27" layerID="1" created="1572775702363" x="890.60675"
        y="395.5" width="1.6677246" height="157.35938" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30bcbbc4c0a8e30101c7086c38f5aa37</URIString>
        <point1 x="891.7745" y="552.3594"/>
        <point2 x="891.10675" y="396.0"/>
        <ID1 xsi:type="node">22</ID1>
        <ID2 xsi:type="node">23</ID2>
    </child>
    <child ID="28" label="Configuration_module" layerID="1"
        created="1572775713654" x="19.0" y="70.0" width="167.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30c16c04c0a8e30101c7086c968c593f</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="29" label="Perfmon_module" layerID="1"
        created="1572775723252" x="499.5" y="445.0" width="167.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30c16c04c0a8e30101c7086cb8a2f440</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="30" label=" Konfiguracja " layerID="1"
        created="1572775782887" x="185.5" y="84.9834" width="332.0"
        height="19.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30c16c04c0a8e30101c7086c2c096353</URIString>
        <point1 x="186.0" y="94.82676"/>
        <point2 x="517.0" y="94.14004"/>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">6</ID2>
    </child>
    <child ID="31" label="Konfiguracja" layerID="1"
        created="1572775811472" x="59.0" y="119.5" width="87.0"
        height="82.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30c16c04c0a8e30101c7086c3276e1fe</URIString>
        <point1 x="102.5" y="120.0"/>
        <point2 x="102.5" y="201.0"/>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">8</ID2>
    </child>
    <child ID="32" label="Konfiguracja" layerID="1"
        created="1572775813766" x="-77.90405" y="119.5"
        width="347.40405" height="236.327" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30c16c04c0a8e30101c7086c1dc03cd7</URIString>
        <point1 x="65.38377" y="120.0"/>
        <point2 x="269.0" y="355.327"/>
        <ID1 xsi:type="node">28</ID1>
        <ID2 xsi:type="node">10</ID2>
        <ctrlPoint0 x="-236.0" y="323.0" xsi:type="point"/>
    </child>
    <child ID="33"
        label="Sygna&#x142; do uruchomienia &#xa;monitora wydajno&#x15b;ci"
        layerID="1" created="1572775911445" x="497.5" y="247.5"
        width="170.0" height="198.0" strokeWidth="1.0" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30c16c13c0a8e30101c7086c3f78faf6</URIString>
        <point1 x="582.1012" y="248.0"/>
        <point2 x="582.8988" y="445.0"/>
        <ID1 xsi:type="node">12</ID1>
        <ID2 xsi:type="node">29</ID2>
    </child>
    <child ID="34" layerID="1" created="1572775997712" x="718.0141"
        y="15.049211" width="328.72784" height="627.67456"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30c16c14c0a8e30101c7086cc916a0bc</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="35" label="Zabbix server" layerID="1"
        created="1572776015415" x="734.79034" y="26.34274" width="109.0"
        height="25.0" strokeWidth="0.0" autoSized="false" xsi:type="text">
        <strokeColor>#404040</strokeColor>
        <textColor>#000000</textColor>
        <font>-plain-18</font>
        <URIString>http://vue.tufts.edu/rdf/resource/30c188b1c0a8e30101c7086c0eda44c6</URIString>
        <richText>&lt;html&gt;
  &lt;head style="color: #000000" color="#000000"&gt;
    &lt;style type="text/css"&gt;
      &lt;!--
        body { color: #000000; margin-right: 0px; margin-bottom: 0px; font-size: 14; margin-left: 0px; margin-top: 0px; font-family: Arial }
        ol { list-style-position: outside; vertical-align: middle; font-size: 14; margin-left: 30; margin-top: 6; font-family: Arial }
        p { color: #000000; margin-right: 0; margin-bottom: 0; margin-left: 0; margin-top: 0 }
        ul { list-style-position: outside; vertical-align: middle; font-size: 14; margin-left: 30; margin-top: 6; font-family: Arial }
      --&gt;
    &lt;/style&gt;
    
  &lt;/head&gt;
  &lt;body&gt;
    &lt;p style="color: #000000" color="#000000"&gt;
      &lt;font style="font-size:18;"&gt;Zabbix server&lt;/font&gt;
    &lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;
</richText>
        <label>Zabbix server</label>
    </child>
    <child ID="36" label="Share for Perfmon reports" layerID="1"
        created="1580943702118" x="794.0524" y="180.20444" width="195.0"
        height="59.457672" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#C6E8FF</fillColor>
        <strokeColor>#773E47</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-bold-14</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1799224dc0a8e301017e20990058a75e</URIString>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="37" layerID="1" created="1580943809899" x="642.1977"
        y="239.16211" width="231.49695" height="206.33789"
        strokeWidth="1.0" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-16</font>
        <URIString>http://vue.tufts.edu/rdf/resource/1799224ec0a8e301017e209956fc73c1</URIString>
        <point1 x="642.6977" y="445.0"/>
        <point2 x="873.19464" y="239.66211"/>
        <ID1 xsi:type="node">29</ID1>
        <ID2 xsi:type="node">36</ID2>
        <ctrlPoint0 x="782.56647" y="386.42624" xsi:type="point"/>
    </child>
    <layer ID="1" label="Layer 1" created="1572774972531" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/30b24ce7c0a8e30101c7086ccf029834</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-115.804115" y="-1484.2079"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Untitled Pathway" created="1572774972489"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="0" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/30b24ce8c0a8e30101c7086ce6c18c67</URIString>
            <masterSlide ID="2" created="1572774972895" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/30b24ce9c0a8e30101c7086c39445ab1</URIString>
                <titleStyle ID="3" label="Header"
                    created="1572774973192" x="335.5" y="172.5"
                    width="129.0" height="55.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/30b24ceac0a8e30101c7086c022633ba</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1572774973194" x="346.5" y="281.5"
                    width="107.0" height="37.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/30b24cebc0a8e30101c7086c337003e5</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1572774973196"
                    x="373.5" y="384.0" width="53.0" height="32.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/30b24cecc0a8e30101c7086cd88de266</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2019-11-03</date>
    <modelVersion>6</modelVersion>
    <saveLocation>B:\Praca_mgr\Tekst pracy\img</saveLocation>
    <saveFile>B:\Praca_mgr\Tekst pracy\img\schemat_agenta.vue</saveFile>
</LW-MAP>
